
/*INDEX START - HTML/ CSS/ BOOSTRAP/ VUE*/
*{

    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{


nav {



        .forms {
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: black;

        span {
            color:green;
        }
        }
    }


}



/* index END*/

/*START Forms - HTML/ CSS/ BOOSTRAP/ VUE*/

.bodyform {
background-color: whitesmoke;


.formBackground{

background-image: url(/img/background_form.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 80rem;
}

}

